html,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 100%;
    text-align: left;
    margin-top: 5rem;
    margin-bottom: 3.5rem;
}

input[type=text] {
    outline: none;
    border: none;
    font-family: helvetica;
    font-size: 24px;
    font-weight: 800;
}


/* #download {
    width: 50%;
} */


/* .refresh {
    width: 50%;
    text-align: left;
} */

.btns {
    width: 100%;
}

button {
    width: 1rem;
    padding: 0;
    width: 76px;
    border-style: none;
    background: none;
    font-size: 24px;
    font-weight: 800;
    margin-top: 40px;
    flex-direction: column;
}

#save {
    float: left;
}

#erase {
    float: right;
}